.message {
 border: green solid 3px;
 color: green;
 background-color:lightgray; 
 height: 3em;
 border-radius: .5em;
}
.error{
 border: red solid 3px;
 color: red;
 background-color:lightgray; 
 height: 3em;
 border-radius: .5em;
}